body{
    margin: 0;
}

.nav{
    padding-left: 26px;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
}

div{
    box-sizing: border-box;
}

.list{
    border-bottom: 1px black solid;
    padding: 5px;
    padding-left: 30px;
}

.modal{
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgray;
    height: 200px;
    margin-top: 30px;
    padding: 30px;
}

.extra{
    display: flex;
}

.extra > button{
    color: white;
    border: none;
    background-color: black;
    border-radius: 10px;
}

.extra > input, textarea{
    border-radius: 10px;
}

.setString{
    margin-top: 10px;
    margin-left: 26px;
    background-color: darkgray;
    border: none;
}