body{
    margin: 0;
}

.nav{
    
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
}

div{
    box-sizing: border-box;
}

.list{
    border-bottom: 1px black solid;

}

.modal{
    background-color: lightgray;
}